pytest
fastapi
uvicorn
httpie
requests
httpx
mypy
python-jose[cryptography]
passlib
python-multipart
pytest-mock
hypothesis
schemathesis
locust
locust-grasshopper
gunicorn
torch
torchvision
transformers
